<div class="o-video-guide-pics2">
  <h2 class="guide-pics-title">{{name}} 动作要领图</h2>
  <div class="guide-pic-wrap">
    <ul class="guide-pic-list clearfix">
      <li class="expand-img">
        <div class="img-wrap">
          <img src="assets/images/hisports/a0ced8d3263db3e6cbf774d516c5eec5.gif" alt="四足俯卧撑">
          <div class="gif-mask hide"></div>
        </div>
      </li>
      <li class="expand-img">
        <img src="assets/images/hisports/1462264660160_am__len94877.webp" alt="">
        <div class="guide-point-wrap">
          <pre>1、挺胸收腹，躯干与地面平行</pre>
        </div>
      </li>
      <li class="expand-img">
        <img src="assets/images/hisports/1462264665645_am__len98161.webp" alt="">
        <div class="guide-point-wrap no-border">
          <pre>1、双手与肩同宽，始终保持腰背挺直，控制肘部紧贴身体两侧</pre>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="o-video-guide-pics2">
  <div class="o-video-guide">
    <div class="gap"></div>
    <div class="guide-pic">
      <h2 class="guide-pics-title">主要肌肉示意图</h2>
      <img src="http://ojiastoreimage.bs2dl.yy.com/1477640202013_am_" alt="">
      <img src="http://ojiastoreimage.bs2dl.yy.com/1477640203030_am_" alt="">
    </div>
  </div>
</div>
    <app-add-comment [kindId]="kindId"></app-add-comment>  


