<div class="plan-panel">
  <article class="flex-float">

    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'" [nzGutter]="24">
      <div nz-col [nzSpan]="6" *ngFor="let sport of sportList">
        <nz-card>
          <ng-template #body>
            <p>{{sport.name}}</p>
            <h2>{{sport.value}}</h2>
          </ng-template>
        </nz-card>
      </div>
    </div>

    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'" [nzGutter]="24">
      <div nz-col [nzSpan]="16" style="align-self:stretch">
        <div id="walkChart" style="width:100%;height:405px;margin:0 auto;"></div>
      </div>
      <div nz-col [nzSpan]="8" style="align-self:stretch">
        <nz-card style="height:100%">
          <ng-template #body>
            <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" *ngFor="let dalao of dalaoList; let i=index" style="margin-bottom:7px"> 
              <div nz-col [nzSpan]="4">
                <nz-avatar [nzSrc]="'assets/images/head/' + dalao.img"  [nzSize]="'large'"></nz-avatar>
              </div>
              <div nz-col [nzSpan]="15">
                <strong>{{dalao.name}}</strong>
                <p class="right-table-p">{{dalao.logo}}</p>
              </div>
              <div nz-col [nzSpan]="5">
                  <h3>0{{i + 1}}</h3>
              </div>
            </div>
          </ng-template>
        </nz-card>
      </div>
    </div>

    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
        <div id="sqline" style="min-width:100%;height:300px"></div>
    </div>

  </article>
</div>